<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Battle</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Card Battle</h1>

    <div class="menu-buttons">

        <a href="/battle">
            <button>Play</button>
        </a>

        <a href="/cards">
            <button>Cards</button>
        </a>

        <a href="/settings">
            <button>Settings</button>
        </a>

    </div>

</body>
</html>